/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 01 21, 17, 12:25:24 PM
    Author     : rizaller
*/
@font-face{
    font-family: righteous;
    src: url("../fonts/Righteous-Regular.ttf");
}
body{
    background: url(../img/main.png);
    background-size: 100% 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    font-family: righteous !important;
}

img{
   height: 100% !important;
}
.form-control:focus{
    box-shadow: none;
}