/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 01 23, 17, 9:23:23 PM
    Author     : rizaller
*/

.register-form{
    margin-top: 75px;
}
.col-form-label{
    height:55px !important;
}